@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf)
}

@font-face {
    font-family: Korean;
    src: url(fonts/Korean_Calligraphy.ttf);
}

:root {
    --primary: #ffffff;
    --secondary: #000000;
    --robson: #A87B04;
}

* {
   -webkit-tap-highlight-color: transparent; 
}

.ham_menu {
    position: fixed;
    background-color: var(--primary);
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
}

.disabled {
    display: none;
}

.exitsection {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding-right: 20px;
}

.exit_icon {
    background-image: url(img/exitvector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ham_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    list-style: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20vh;
}

.ham_ul li {
    cursor: pointer;
}

.hamdiv_detail {
    background-color: var(--secondary);
    width: 16px;
    height: 1px;
}

.ham_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-family: Inter;
    font-weight: 500;
}

.ham_num {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.ham_num img {
    width: 25px;
    height: 35px;
}

.ham_num p {
    padding: 8px 0 0 0;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.ham_map {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.ham_map img {
    width: 25px;
    height: 35px;
}

.ham_map p {
    width: 200px;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

body {
    position: relative;
}

header {
    position: relative;
    background-color: var(--primary);
    width: 100%;
    height: 80px;
    font-family: Inter;
    font-weight: 500;
    z-index: 1000;
}

.nav-bar {
    width: 100%;
    height: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-bar ul li {
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info .line_detail {
    margin-top: 8px;
}

.num {
    display: flex;
    gap: 10px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.num img {
    width: 35px;
    height: 35px;
}

.num p {
    padding: 8px 0 0 0;
    font-size: 1rem;
}

.map {
    display: flex;
    gap: 10px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.map img {
    width: 35px;
    height: 35px;
}

.map p {
    font-size: 1rem;
    line-height: 16px;
}

.line_detail {
    background-color: #000000;
    height: 16px;
    width: 1px;

}

.aprenda {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    height: clamp(540px, 80vh, 1200px);
    padding-top: 20px;
}

.aprenda .contact_us:hover {

    transition: 0.5s;

    background-color: var(--primary);

    width: 330px;
    height: 70px;

    .wrapper_1 {
        color: var(--secondary);
    }

    .wrapper_1 img {
        filter: invert(100%);
    }
}

.aprenda .content_wrapper_1:has(.contact_us:hover) .textwrapper_1 {

    padding-top: 80px;
    padding-bottom: 20px;

    transition: 0.25s;

}

.content_wrapper_1 {
    height: fit-content;
    width: 580px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 120px;
    gap: 120px;
    z-index: 10;
}

.content_wrapper_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.textwrapper_1 {
    padding-top: 100px;
}

.textwrapper_1 h1 {
    width: 100%;
    color: var(--primary);
    font-family: Korean;
    font-size: clamp(40px, 20vw, 128px);
    line-height: clamp(40px, 20vw, 120px);
    text-align: center;
}

.contact_us {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px 140px;
    width: 320px;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: var(--primary);
    user-select: none;
    cursor: pointer;

}

.wrapper_1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--primary);
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
}

.image_frame1 {
    position: relative;
    width: 440px;
    height: 650px;
    background-image: url(img/mulherdedegrade.webp);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.godown_sec {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    width: 100%;
    height: calc(10vh + 40px);
    user-select: none;
}

.go_down {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover img {
        transition: 0.5s;
        transform: scale(1.2);
    }
}

.instagram {
    background-color: var(--primary);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 845px;
    margin-bottom: 200px;
    z-index: 1;
}

.belt {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    width: 100%;
    height: 220px;
    background-color: #000000;
    padding-right: 160px;
    margin-top: 420px;
    z-index: 1;
}

.belt_detail {
    width: 60px;
    height: 220px;
    background-color: #A87B04;
    box-shadow: inset 0px 26px 30px 0px #00000040;
}

.textwrapper_2 {
    text-align: center;
    font-family: Korean;
    font-size: clamp(60px, 10vw, 100px);
    margin-bottom: 100px;
    margin-top: 100px;
}

.gallery_container {
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: clamp(300px, 95%, 846px);
    height: 512px;
    border: var(--robson) 3px solid;
    z-index: 10;
    box-shadow: 0px 15px 4px 0px #00000040;

    user-select: none;

    &:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }
}

.slider_wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.move_next {
    transition: 0.5s;
    left: -50%;
    transform: translateX(-50%);
}

.move_back {
    transition: 0.5s;
    right: -50%;
    transform: translateX(50%);
}

.slider img {
    position: relative;
    flex: 1 0 100%;
    object-fit: cover;   
}

.slider_nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
}

.arrow_back {
    transform: scale(-1);
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
        transform: scale(-1.2);
    }
}

.arrow_foward {
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.mestres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    height: 935px;
    background-color: var(--robson);
}

.textwrapper_3 {
    font-family: Korean;
    font-size: clamp(60px, 10vw, 96px);
    color: var(--primary);
}

.line_detail_horizontal {
    padding-top: 3px;
    background-color: var(--primary);
    width: clamp(300px, 80vw, 870px);
}

.content_wrapper_3 {
    display: flex;
    gap: 200px;
}

.mestre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.image_frame3 {
    background-color: aqua;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin-bottom: 20px;
}

.mestre_nome {
    color: var(--primary);
    font-family: Korean;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.mestre_desc {
    color: var(--primary);
    font-family: Korean;
    font-size: 1.5rem;
    text-align: center;
    width: 180px;
    line-height: 20px;
}

.tkdinfo {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_wrapper_4 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.textwrapper_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    text-align: center;
}

.textwrapper_4 h2 {
    font-family: Korean;
    font-size: clamp(40px, 20vw, 128px);
}

.textwrapper_4 p {
    font-size: clamp(16px, 10vw, 1.5rem);
    line-height: 40px;
    width: clamp(300px, 80vw, 600px)
}

.line_detail_horizontal2 {
    width: clamp(300px, 80vw, 600px);
    height: 3px;
    background-color: #000000;
    margin-bottom: 20px;
}

.image_frame4 {
    width: 600px;
    height: 800px;
    background-image: url(img/TKD_1.png);
    background-repeat: no-repeat;
}

.content_wrapper_5 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.textwrapper_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    text-align: center;
}

.textwrapper_5 h2 {
    font-family: Korean;
    font-size: clamp(40px, 20vw, 128px);
}

.textwrapper_5 p {
    font-size: clamp(16px, 10vw, 1.5rem);
    line-height: 40px;
    width: clamp(300px, 80vw, 600px)
}

.image_frame5 {
    width: 600px;
    height: 800px;
    background-image: url(img/TKD_2.png);
    background-repeat: no-repeat;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
}

footer .contact_us2:hover {

    transition: 0.5s;

    background-color: var(--primary);

    width: 330px;
    height: 70px;

    .wrapper_2 {
        color: var(--secondary);
    }

    .wrapper_2 img {
        filter: invert(100%);
    }
}

.image_frame6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(img/footerimg.webp);
    filter: brightness(20%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secondary);
    z-index: -100;
}

.content_wrapper_6 {
    width: 100%;
    margin-bottom: 20px;
}

.div_wrapper_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textwrapper_6 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
}

.apenas {
    font-family: Korean;
    font-size: 2rem;
    padding: 20px 0;
}

.valor {
    font-family: Korean;
    font-size: 5rem;
    line-height: 90px;
    letter-spacing: 15px;
}

.contact_us2 {
    display: flex;
    justify-content: center;
    margin: 0px 140px;
    width: 320px;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: var(--primary);
    cursor: pointer;
    user-select: none;
}

.wrapper_2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--primary);
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
}

.div_wrapper_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: var(--primary);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.5rem;
}

.num2 {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.num2 img {
    width: 35px;
    height: 35px;
}

.num2 p {
    padding: 8px 0 0 0;
}

.map2 {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.map2 img {
    width: 35px;
    height: 35px;
}

.map2 p {
    font-size: clamp(4px, 4vw, 1.5rem);
    line-height: 1.5rem;
}

.insta {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.footer_element {
    margin-bottom: 20px;
}


/*laptop*/
@media (max-width: 1200px) {

    .num p {
        font-size: 0.8rem;
    }

    .num img {
        margin-top: 5px;
        width: 25px;
        height: 25px;
    }

    .map p {
        font-size: 0.8rem;
    }

    .map img {
        margin-top: 5px;
        width: 25px;
        height: 25px;
    }

    .content_wrapper_1 {
        position: relative;
        display: flex;
        justify-content: center;
        padding-right: 400px;
        gap: 120px;
        z-index: 10;
    }

    .image_frame1 {
        position: absolute;
        top: 140px;
        right: 0px;
        width: 440px;
        height: 650px;
        background-image: url(img/mulherdedegrade.webp);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
}

/*tablet*/
@media (max-width: 992px) {

    .nav-bar ul {
        display: none;
    }

    .info {
        display: none;
    }

    .ham {
        background-image: url(img/Hamburguer.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        cursor: pointer;
        user-select: none;
    }

    .aprenda {
        display: flex;
        justify-content: start;
        background-color: #000000;
        width: 100%;
        height: clamp(650px, 80vh, 1200px);
        padding-top: 20px;
    }

    .content_wrapper_1 {
        position: relative;
        display: flex;
        justify-content: center;
        padding-right: 0px;
        gap: 120px;
        z-index: 10;
    }

    .image_frame1 {
        position: absolute;
        top: 140px;
        right: 0px;
        width: 440px;
        height: 650px;
        background-image: url(img/mulherdedegrade.webp);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }

    .belt {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        width: 100%;
        height: 110px;
        background-color: #000000;
        padding-right: 80px;
        margin-top: 1050px;
        z-index: 1;
    }

    .belt_detail {
        width: 60px;
        height: 110px;
        background-color: #A87B04;
    }

    .content_wrapper_4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 100px;
    }

    .image_frame4 {
        width: 100%;
        height: 1400px;
        background-image: url(img/TKD_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .content_wrapper_5 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .image_frame5 {
        width: 100%;
        height: 1400px;
        background-image: url(img/TKD_2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}

/*Phone*/
@media (max-width: 768px) {

    .aprenda {
        display: flex;
        justify-content: center;
        background-color: #000000;
        width: 100%;
        height: clamp(550px, 80vh, 1200px);
        padding-top: 20px;
    }

    .aprenda .contact_us:hover {

        transition: 0.5s;

        background-color: var(--primary);

        width: 300px;
        height: 70px;

        .wrapper_1 {
            color: var(--secondary);
        }

        .wrapper_1 img {
            filter: invert(100%);
        }
    }

    .aprenda .content_wrapper_1:has(.contact_us:hover) .textwrapper_1 {

        padding-top: 80px;
        padding-bottom: 20px;

        transition: 0.25s;

    }

    .textwrapper_1 {
        padding-top: 100px;
        margin-bottom: 40px;
    }

    .content_wrapper_1 {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        padding-right: 0px;
        gap: 0px;
        z-index: 10;
    }

    .contact_us {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
        width: 280px;
        height: 60px;
        border: 1px;
        border-style: solid;
        border-radius: 25px;
        border-color: var(--primary);
        cursor: pointer;
    }

    .image_frame1 {
        position: absolute;
        top: 220px;
        right: 50%;
        transform: translateX(50%);
        width: 300px;
        height: 650px;
        background-image: url(img/mulherdedegrade.webp);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }

    .godown_sec {
        background-color: var(--secondary);
        width: 100%;
        height: calc(10vh + 40px);
    }

    .go_down {
        position: relative;
        padding-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .instagram {
        background-color: var(--primary);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 750px;
        margin-top: 50px;
        margin-bottom: 25px;
        z-index: 1;
    }

    .textwrapper_2 {
        text-align: center;
        font-family: Korean;
        font-size: clamp(60px, 10vw, 100px);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .gallery_container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: clamp(300px, 95%, 846px);
        height: 512px;
        border: var(--robson) 3px solid;
        z-index: 10;
        box-shadow: 0px 15px 4px 0px #00000040;
    
        &:hover {
            transform: scale(1);
        }
    }

    .belt {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        width: 100%;
        height: 60px;
        background-color: #000000;
        padding-right: 20px;
        margin-top: 650px;
        z-index: 1;
    }

    .belt_detail {
        width: 20px;
        height: 60px;
        background-color: #A87B04;
    }

    .mestres {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 40px 100px 40px;
        height: 1400px;
        background-color: var(--robson);
    }

    .mestre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .mestre_desc {
        color: var(--primary);
        font-family: Korean;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        line-height: 20px;
    }

    .content_wrapper_3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tkdinfo {
        padding-top: 100px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content_wrapper_4 {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0px;
        margin-bottom: 100px;
    }

    .image_frame4 {
        width: 100%;
        height: 600px;
        background-image: url(img/TKD_1.png);
        background-size: cover;
        aspect-ratio: 16 / 9;
        background-repeat: no-repeat;
        background-position: center;
    }

    .image_frame5 {
        width: 100%;
        height: 600px;
        background-image: url(img/TKD_2.png);
        background-size: cover;
        aspect-ratio: 16 / 9;
        background-repeat: no-repeat;
        background-position: center;
    }

    .contact_us2 {
        display: flex;
        justify-content: center;
        margin: 0px 0px;
        width: 280px;
        height: 60px;
        border: 1px;
        border-style: solid;
        border-radius: 25px;
        border-color: var(--primary);
        cursor: pointer;
    }
}